numpy==1.24.3
pandas==2.0.2
streamlit==1.23.1
plotly==5.14.1
plotly-express==0.4.1
altair==5.0.1
ipykernel==6.15.0
nbformat==5.7.0
openpyxl==3.0.10
xlsxwriter==3.1.2
matplotlib==3.7.2
imutils==0.5.4
easyocr==1.7.1
opencv-python
